head
    meta(charset='utf-8')
    // If you delete this meta tag, the ground will open and swallow you.
    meta(name='viewport', content='width=device-width')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title
      | #{title}
      | | ViralWorks
    style.