extends ../layouts/template.pug

block body
    table(style='margin: 0 auto')
        tbody
            tr
                td
                    // content
                    div(style='max-width: 430px')
                        table
                            tbody
                                tr
                                    td
                                        h3(style='\
                                        color: #683C97;\
                                        line-height: normal;\
                                        font-size: 28px;\
                                        text-align: center;\
                                        font-weight: normal') TỪ CHỐI YÊU CẦU THANH TOÁN
                                        p Chào #{kol_name},
                                        p
                                            | Yêu cầu thanh toán của bạn đã từ chối với số tiền #{price}
                                        p Trân trọng,
                                        p(style='padding-bottom: 40px;margin: 0;')
                                            b Đội ngũ phát triển ứng dụng ViralWorks
                        // /content
                td
            // /BODY
