extends ../layouts/template.pug

block body
    table(style='margin: 0 auto')
        tbody
            tr
                td
                    // content
                    div(style='max-width: 430px')
                        table
                            tbody
                                tr
                                    td
                                        h3(style='\
                                        color: #683C97;\
                                        line-height: normal;\
                                        font-size: 28px;\
                                        text-align: center;\
                                        font-weight: normal') Thông báo về việc đăng ký tài khoản
                                        p Chào #{kol_name},
                                        p
                                            | Chúc mừng bạn đã đăng ký thành công và chính thức trở thành Influencer cùng ViralWorks.
                                        p
                                            | Để giúp bạn xây dựng hình ảnh chuyên nghiệp, ViralWorks sẽ gửi thông tin chi tiết khi có công việc phù hợp và hỗ trợ bạn thực hiện công việc.
                                        p Cảm ơn và chào mừng bạn đến với cộng đồng Influencer của ViralWorks!
                                        p
                                            | Bạn cần được hỗ trợ ngay? Chỉ cần inbox fanpage 
                                            a(href='https://www.facebook.com/ViralWorksPlatform/') ViralWorks
                                            |  hoặc email: 
                                            a(href='mailto:support@viralworks.com') support@viralworks.com
                                        p Trân trọng,
                                        p(style='padding-bottom: 40px;margin: 0;')
                                            b Đội ngũ phát triển ứng dụng ViralWorks
                        // /content
                td
            // /BODY
