extends ../layouts/template.pug

block body
    table(style='margin: 0 auto')
        tbody
            tr
                td
                    // content
                    div(style='max-width: 430px')
                        table
                            tbody
                                tr
                                    td
                                        h3(style='\
                                        color: #683C97;\
                                        line-height: normal;\
                                        font-size: 28px;\
                                        text-align: center;\
                                        font-weight: normal') Yêu cầu xác nhận email
                                        p Chào #{kol_name},
                                        p
                                            | Cảm ơn bạn đã tin tưởng hợp tác cùng ViralWorks.
                                        p
                                            | Bạn vui lòng nhấn nút “XÁC NHẬN” bên dưới để xác nhận tài khoản.
                                        a(href=link, target='_blank') [XÁC NHẬN]
                                        p
                                            | Cảm ơn và chào mừng bạn đến với cộng đồng Influencer của ViralWorks!
                                        p Trân trọng,
                                        p(style='padding-bottom: 40px;margin: 0;')
                                            b Đội ngũ phát triển ứng dụng ViralWorks
                        // /content
                td
            // /BODY
